/*ESTILOS GENERALES*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: Helvetica, Arial;
  background-color: rgba(0, 0, 0, 0.95);
}

/* BANNER PRINCIPAL */


.banner{
  width: 100%;
  height: 508px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.banner-centrado{
  width: 98%;
  height: 100%;
  background-image: url(img/LogoLicores.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.titulo{
  width: 400px;
  height: 200px;
  background-image: url(img/IngredientesC.png);
  opacity: 90%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Recuadros para las recetas de cocteles */

.recetas{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.cuadro{
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(img/FondoRecetas.jpg);
  background-size: 100%;
  background-position: center;
}

.Izquierda{
  width: 48%;
  height: 95%;
  border: 3px solid rgba(6, 6, 6, 0.58);
  background-color: white;
  border-radius: 6px;
}

.Izquierda h2{
  text-align: center;
}

.Izquierda ul, .Izquierda ol{
  margin-left: 60px;
  padding: 10px;
}

.Derecha{
  width: 46%;
  height: 95%;
  border: 3px solid rgba(6, 6, 6, 0.58);
  border-radius: 6px;
}

.Derecha img{
  width: 100%;
  height: 100%;
}

@media all and (max-width:1024px){

  .banner{
    height: 200px;
  }

  .banner-centrado{
    width: 100%;
    height: 200px;
    background-image: url(img/LogoLicores.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  .titulo{
    width: 350px;
    height: 150px;
  }

  .recetas{
    height: auto;
  }

  .cuadro{
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Izquierda{
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .Derecha{
    width: 90%;
    height: 250px;
  }

  .Izquierda ul, .Izquierda ol{
    font-size: 14px;
    margin-left: 20px;
    padding: 10px;
  }

}
/* FIN DE BANNER PRINCIPAL */
